/.lesshst
/.python_history

/.ssh/
/.config/
/.vscode/
/.bash_history
/.gitconfig
*.a
*.o
*.obj
*.out
*.pdb
*.ilk
*.lib
*.exp
/secret

/**/lab*/main
dsa/lab3/parent_search_result.dat
dsa/lab3cd/table.dat
